# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/ for more details
#

references:
  working_directory: /tmp/gh-pages
  defaults: &defaults
    docker:
      - image: circleci/node:8.1.4-browsers

  # Set the permissions needed to install node modules
  npm_permissions: &npm_permissions
    run:
      name: set-user-permissions
      command: sudo chown -R $(whoami) $(npm config get prefix)/{lib/node_modules,bin,share}
  # Install gulp & deps
  npm_install: &npm_install
    run:
      name: install-npm-dependencies
      command: |
        npm install
        npm install gulp-cli -g
        npm install gulp -D
  # Update dashboard data files
  update_dashboard_data: &update_dashboard_data
    run:
      name: Update dashboard data
      command: |
        git config --global user.email no-reply@teamdigitale.governo.it
        git config --global user.name "Deploy Bot"
        git pull

        if [ `curl -s -w "%{http_code}" --compress -o /tmp/dashboardData.json https://dashboard.anpr.it/api/dashboard/data.json` = "200" ]; then
          if [ $(stat --printf="%s" /tmp/dashboardData.json) -gt 2000000 ]; then
            echo "dashboard data updated" && \
            cp /tmp/dashboardData.json .
          fi
        fi

        git commit -a  -m "Automated deployment to GitHub Pages: ${CIRCLE_SHA1}" || echo "."
        git push origin $CIRCLE_BRANCH
  # Optimize site files with gulp
  gulp_build: &gulp_build
    run:
      name: gulp-build
      command: |
        gulp clean
        gulp
        git add docs
        git commit docs -m "Automated deployment to GitHub Pages: ${CIRCLE_SHA1}" || echo "."
        git push origin $CIRCLE_BRANCH
  create_cname: &create_cname
    run:
      name: create-cname
      command: |
        echo "stato-migrazione.anpr.it" > docs/CNAME
        git add docs/CNAME
        git commit docs/CNAME -m "Automated deployment to GitHub Pages: ${CIRCLE_SHA1}" || echo "."
        git push origin $CIRCLE_BRANCH

version: 2
jobs:
  update:
    <<: *defaults
    steps:
      # Deploy the site to GitHub Pages
      #- add_ssh_keys: *add_ssh_keys
      - checkout
      - << : *npm_permissions
      - << : *npm_install
      - << : *update_dashboard_data
      - << : *gulp_build
      - << : *create_cname

# This workflow will update the site every hour
workflows:
  version: 2
  update-dashboard:
    triggers:
      - schedule:
          cron: "35 * * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - update
